.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    height: 100vh;
    background-color: #014246;
}

.topics {
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    background-color: #014246;
}

.mainPage {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    height: 86.5vh;
    justify-content: center;
    background-color: #d1fce9;
    border-radius: 5px;
    margin-top: 50px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.dashboard-content {
    display: grid;
    align-items: center;
    justify-self: center;
    gap: 24px
}

.topics-content {
    display: grid;
    align-items: center;
    justify-self: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px
}

.dashboard-content button {
    background-color: #d1fce9;
    margin: 0 40px;
    border-radius: 10px;
}

.topics-content button {
    background-color: #d1fce9;
    margin: 0 40px;
    border-radius: 10px;
}